<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>GearP</title>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="header-text">
                <h1>GearP</h1>
                <nav>
                    <a>홈</a>
                    <a>주차장검색</a>
                </nav>
            </div>
        </header>
        <section>
            <input id="local_name" type="text" placeholder="지명을 입력하세요" >
            <fieldset>
                <div id="map">a</div>
                <a>주차장이름 : </a><br>
                <a>주소 : </a><br>
                <a>전화번호 : </a><br>
                <a>유/무료여부 : </a>
            </fieldset>
        </section>
        <footer>
            <div id="footer-text">
                <nav>
                    <a href="team" target="_blank">팀소개</a>
                    <a> | </a>
                    <a href="rule" target="_blank">약관</a>
                    <a> | </a>
                    <a href="https://github.com/ctrl-z-bssm" target="_blank">Github</a>
                </nav>
                <nav>
                    <a>Ctrl Z</a>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>